<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--NOME DA APLICAÇÃO - VER DOCUMENTAÇÃO-->
    <add key="APLICACAO" value="G04CNC01" />
    <add key="GATE" value="G04" />
    <add key="ID_EQUIPAMENTO" value="18" />
    <!--B BANCADA M MULTIDISPLAY-->
    <add key="MODO" value="M" />
    <add key="SENTIDO_ACESSO" value="E" />
    <add key="TIPOBANCO" value="SQL" />
    <add key="AMBIENTE" value="P" />
    <add key="WEBAPI_OCR" value="http://172.100.0.2:8094/api/Ocr/CapturaOCREM/" />
    <add key="WEBAPI_MOTIVAR" value="http://172.100.0.2:8094/api/acesso/MotivarMotoristaArea" />
    <add key="WEBAPI_LAP" value="http://172.100.0.2:55222/api/LAP/" />
    <add key="WEBAPI_LBF" value="http://172.100.0.2:8082/api/LBF/" />
    <add key="WEBAPI_VALIDA_PATIO" value="http://172.100.0.2:8094/api/Acesso/ValidaEntradapatioEM"/>
    <!--TEMPO PARA DAR TIME-OUT NA SEÇÃO USAR 60 PARA CENCELAS E 25 PARA TORNIQUETES E CATRACAS-->
    <add key="CPU" value="1" />
    <add key="TIMEOUT" value="60" />
    <add key="TEMPO_ESPERA_LAP" value="1000" />
    <add key="CONTROLE_VAGAS" value="0" />
    <add key="ACEITA_CREDENCIAL" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FATOR" value="10" />
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="BANCO" connectionString="Data Source=BRALE1S018\PROD;Initial Catalog=LOCKTEK;Persist Security Info=True;User ID=LOCKTEK;Password=LockTek@2017;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>